/*-- scss:functions --*/
// @function colorToRGB ($color) {
//     @return "rgb(" + red($color) + ", " + green($color) + ", " + blue($color)+ ")";
// }

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/*-- scss:defaults --*/


// $h2-font-size:          1.6rem !default;
// $headings-font-weight:  500 !default;

/*-- scss:rules --*/
// h1, h2, h3, h4, h5, h6 {
//     text-shadow: -1px -1px 0 rgba(0, 0, 0, .3);
// }
.navbar {
    background-color: #000000;
}

#quarto-sidebar {
    background-color: #f4f4f4;
}

.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
    border-left: 4px solid #0f62fe;
    color: #0f62fe !important;
}

body {
    font-family: "IBM Plex Sans", serif;
    background-color: #f4f4f4;
}

.footer{
    min-height: 370px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.nav-footer {
    align-items: center;
    
}

.listitem {
    width: 100%;
    margin-left: 10em;
}

a[role=listitem] {
    color: white;
    opacity: 50%;
}


.footer__bottom {
    width: 100%;
    text-align: center;
}

.footerLogo {
    opacity: .5;
    height: 150px;
    
}
